/* Table of Contents
	1. Home Page
	2. Portfolio
	3. Resume
	4. Hire Me
	5. Pro Bono
*/


/*1*/ 

body{
	background-image: url("hero1.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Helvetica" sans-serif;
	font-size: large;
	color: white;

}
h1{
	font-family: "Helvetica" sans-serif;
	font-size: 40pt;
}
/*formatting*/
.right{
	position: fixed;
	right: 0px;
	width: auto;
	padding: 10px; 

}

.padding{
	padding: 20px;
}
.padding_large{
	padding-top: 200px;
}
}
.white{
	color: white;
}


/* lists*/
ul.a{ 
	list-style-type: circle; 
}



	


				
